<h1>New restau</h1>


<!-- <form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]">
  <input type="text" name="restaurant[address]">
  <input type="number" name="restaurant[stars]">
  <input type="submit"> -->


<!-- </form> -->

<%#= form_for(@restaurant) do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>
  <%#= f.label :address %>
  <%#= f.text_field :address %>
  <%#= f.label :stars %>
  <%#= f.number_field :stars %>
  <%#= f.submit %>
<%# end %>

<%= render 'form', restaurant: @restaurant %>

